<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
  <h1>Booking #<%= @booking.id %> has been created!</h1>
  <p>You have sucessfully booked your flight, see full details below.</p>
  <ul>
    <li>Name: <%= @passenger.name %></li>
    <li>Flight Number: <%= @flight.id %></li>
    <li>Departure Time: <%= @flight.takeoff.to_fs(:long_ordinal) %></li>
    <li>Departure Airport: <%= @flight.departing_airport.text_code %></li>
    <li>Arrival Airport: <%= @flight.arriving_airport.text_code %></li>
    <li>Flight Duration: <%= @flight.duration_minutes %> min</li>
  </ul>
</body>
</html>
